
  <div class="ticketlist">
  <h1>Your Projects: </h1>

<% @projects.each do |project| %>
<%  if project.user_id == @project_id %>
<%= link_to project.name, project_path(project) %><br />
<% end %>
<% end %>


<br><br>

<h1>Your Tickets: </h1>
<% @tickets_sorted.each do |ticket| %>
<%  if ticket.user_id == @project_id %>
<%= link_to ticket.name, ticket_path(ticket) %><br />
<% end %>
<% end %>


<br><br>

</div>


