

<div id="project">


<%= render 'layouts/search' %>

<br />
<h1>Projects: </h1>
<% if @projects.blank? %>
<p>No projects.</p>
<% end %>

<% else %>
<% @projects_sorted.each do |project| %>

<div class="single_proj">
  <br />
<%  if project.user_id == @project_id %>

<h4>Owner of:</h4>
<% end %><h2><%= link_to project.name, project_path(project) %></h2>
<br />
<br />




<% end %>

</div>

</div>

